:root {
    --docsifytabs-tab-color--active: var(--theme-color);
    --docsifytabs-border-color: var(--surface-4);
    --docsifytabs-border-px: var(--border-size-2);
}

.docsify-tabs {
    margin: 0;
    margin-block-end: var(--size-5);

    button {
        font-weight: var(--font-weight-6);
        border-radius: 0;
        box-shadow: none;
    }

    .docsify-tabs__content {
        background-color: hsl(var(--theme-color-hsl) / 3%);
    }
}
