@import '../abstracts/_mixins';

#app {
    position: fixed;
    font-size: var(--font-size-8);
    text-align: center;
    inline-size: 100vw;
    line-height: 100vh;
    color: var(--text-1);

    &:empty::before {
        display: inline-block;
        font: var(--fa-font-solid);
        content: '\f1ce';
        animation: var(--animation-spin);
    }

    &:empty::after {
        content: 'Loading …';
        margin-inline-start: var(--font-size-4);
    }
}
