@use '../abstracts/mixins' as mixin;

.progress {
    position: fixed;
    inset: {
        block-end: 0;
        inline-start: 0;
        inline-end: 0;
    }
    block-size: 3px;
    background-color: var(--theme-color);
    transition: inline-size 0.3s ease;
}
